

.paginate_button {
    color: white !important;
  }
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 0.7px !important;
  }
  table.dataTable tbody th, table.dataTable tbody td.td-b {
    padding: 15px !important;
  }
  
  .pagination {
    --bs-pagination-padding-x: 0.95rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 0.4rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--color-dark);
    --bs-pagination-border-color: #676869;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-bg: rgb(204, 204, 204);
    --bs-pagination-hover-border-color: #fff;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--color-dark);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--color-dark);
    --bs-pagination-active-border-color: white;
    --bs-pagination-disabled-color: #red;
    --bs-pagination-disabled-bg: var(--color-dark);
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  .dataTables_wrapper .dataTables_filter input {
    padding: 4px;
    font-size: 15px;
  }
  .dataTables_wrapper .dataTables_filter input:active {
    border: white !important;
    padding: 3px;
  }
  .nav-link.active {
    background-color: red;
  }

  
  .dataTables_filter label,
  .dataTables_filter label input ,
  .dataTables_info,
  ul.pagination li.paginate_button ,
  .paginate_button {
    margin-top: 8px;
    font-size: 0.95em;
    background-color: var(--color-dark);
  }
  ul.pagination li.paginate_button {
    width: 40px;
    margin-left: 5px;
  }
  
  ul.pagination li.paginate_button a.page-link{
    padding: 15px;
    font-size: 0.6rem;
  }
  
  .dataTables_wrapper {
    font-size: 0.8em;
  }

 